.cell .copBtn {
    color: #409EFF;
    margin-right: 14px;
    font-size: 12px;
  }

  .el-table,
  .el-pagination {
    margin-top: 10px;
  }

  .searchBtn {
    float: right;
    width: 260px;
    margin-bottom: 10px;
  }

  /*大屏幕*/

  @media screen and (min-width: 1200px) {
    .searchBtn {
      width: 260px;
    }
  }

  /*平板电脑与小屏电脑之间的分辨率*/

  @media screen and (min-width: 768px) and (max-width:1200px) {
    .searchBtn {
      width: 240px;
    }
  }

  /*横向放置的手机和竖向放置的平板之间的分辨率*/

  @media screen and (max-width:767px) {
    .searchBtn {
      width: 250px;
    }
  }

  /*竖向放置的手机以及分别率*/

  @media screen and (max-width: 480px) {
    .searchBtn {
      width: 220px;
    }
  }