/*下拉框选中*/
.el-select-dropdown__item.selected{
  color: var(--activecolor);
}
.el-select{
  width: 100%;
}
/*el-scrollbar滚动条颜色*/
.el-scrollbar__thumb{
  background-color: var(--activecolor);
}
/*date*/
.el-picker-panel__icon-btn:hover,
.el-date-picker__header-label:hover,
.el-date-table td.today span,
.el-date-table td.available:hover,
.el-time-panel__btn.confirm{
  color: var(--activecolor);
}
.el-date-table td.current:not(.disabled) span{
  background-color:var(--activecolor);
}
/*loading*/
.el-loading-mask {
  background-color: rgba(255, 255, 255, 1);
}
.el-loading-spinner .path {
  stroke: var(--activecolor);
}
/*.fixedWidth{*/
  /*width: 100% !important;*/
/*}*/
